<ion-view style="" class=" " id="page7" title="Esqueceu a senha">
  <div class="bar bar-header laranja">
    <div >
      <img height="32px" width="64px"  src="img/logolaranja.png" >
    </div>
    <h1 class="title" style="color: 	#FFFAFA;">Criar conta</h1>

  </div>
    <ion-content class="has-header" padding="false" scroll="false">

      <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="voltar()">voltar</a>

          <iframe height="100%" width="100%" src="http://acadeventos.azurewebsites.net/Account/Register"></iframe>
    </ion-content>
</ion-view>
