<ion-view style="" class=" " id="page7" title="Esqueceu a senha">
  <div class="bar bar-header laranja">
    <div >
       <img height="32px" width="32px"  src="img/azinho.png" ><img height="30px" width="40px"  src="img/cad.png" >
    </div>
    <h1 class="title" style="color: 	#FFFAFA;">Recuperar senha</h1>

  </div>
    <ion-content class="has-header" padding="true">
        <form class="list " id="formSenha">
            <div class="card">
                <ion-list class=" " id="login-list3">
                 <label class="item item-input">
                   <input  ng-model="email" type="text"  placeholder="Email">
                 </label>
                </ion-list>
                <button ng-disabled="!email" class=" button button-dark button-small button-block " id="esqueceuSubmit" ng-click="esqueciSenha()">Ok</button >

            </div>
            <ul class="list">
              <li class="item">
               <p>
                 Você recebera um email com sua nova senha!
              </p>

              </li>
          </ul>
        </form>

    </ion-content>
      <div class="bar bar-footer bar-light">
          <div class="title">
            <h6>
                  © 2016 AcaD, Inc.
            </h6>
          </div>
      </div>
</ion-view>
