<ion-view style="" class=" " id="page7" title="Esqueceu a senha">
    <ion-content class="has-header" padding="true">
        <form class="list " id="login-form1">
            <div class="card">
                  <div class="item item-text-wrap">
                    Esqueci a senha
                  </div>
                <ion-list class=" " id="login-list3">
                 <label class="item item-input">
                    <input type="text" placeholder="Email">
                 </label>
                </ion-list>                
                <button class=" button button-dark button-small button-block " id="esqueceuSubmit" ng-click="esqueciSenha()">Ok</button >
                
            </div>
        </form>
    </ion-content>
      <div class="bar bar-footer bar-light">
          <div class="title">
            <h6>
                  © 2016 AcaD, Inc.
            </h6>
          </div>
      </div>
</ion-view>