<ion-view style="" class=" " id="page2" title="Eventos" >

    <ion-content class="has-header" padding="true">
      <ion-refresher on-refresh="carregar()">
       </ion-refresher>
        <div ng-if="eventos">
          <div id="eventos" class="list card " ng-repeat="evento in eventos">

            <div>
              <button class="button laranja icon-left ion-heart"  ng-click="participar(evento)">participar</button>
              <button ng-click="deixar(evento)"  class="button laranja icon-left ion-trash-b"> deixar</button>
            </div>
              <ion-item  class="item-icon-left item-dark assertive">
                  <i class="icon ion-pin"></i>{{evento.Titulo}}
              </ion-item>
              <ion-item class="item-icon-left">
                  <i class="icon ion-ios-timer-outline"></i> {{evento.DataInicial | date:'dd/MM/yyyy'}}-{{evento.DataFinal | date:'dd/MM/yyyy'}}
              </ion-item>
              <div class="img-teste">
                  <img  ng-src="{{repo}}{{evento.ImagemEvento}}">
              </div>
              <div  class="item item-body ">
                      {{evento.Descricao}}
              </div>
              <ion-item  class="item-icon-left assertive  ">
                  <i class="icon ion-ios-flower"></i>{{evento.Categoria.Nome}}
              </ion-item>

          </div>
        </div>

    </ion-content>
</ion-view>
