<ion-view style="" class=" " id="page4" title="Instituição">

    <ion-content class="has-header" padding="true" overflow-scroll="true">
      <ion-refresher on-refresh="carregar()">
       </ion-refresher>
      <div ng-if="falgConta == 0">
        <div class="card">

          <p>Ainda não tem conta?</p>

            <p>Por enquanto você só tem acesso aos eventos e notícias públicos. E não poderá adicioná-los a sua agenda</p>
<br>
            <p>Crie uma conta e fique por dentro dos eventos e notícias de sua instituição !</p>
<br>

            <a class=" button button-small  laranja button-block button-small " id="criarConta" ng-click="criarconta()">Criar conta</a>


          </div>
      </div>
      <div ng-if="falgConta == 1">
        <div class="card" >
          <div class="item item-divider item-dark">
          {{instituicao.Nome}}
          </div>
          <div class="item item-text-wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ipsum consectetur explicabo error minima voluptas itaque beatae maiores voluptatem corrupti perferendis dolores ullam fugiat deleniti quae, voluptatibus deserunt, accusantium magni repellat voluptates totam vero alias enim natus. Corporis, doloremque, consectetur.
          </div>
        </div>

        <div class="card">
          <div class="item item-divider item-dark">
            Missão
          </div>
          <div class="item item-text-wrap">
            {{instituicao.Missao}}
          </div>
        </div>

        <div class="card">
          <div class="item item-divider item-dark">
            Visão
          </div>
          <div class="item item-text-wrap">
            {{instituicao.Visao}}
          </div>
        </div>
      </div>
    </ion-content>

</ion-view>
