<ion-view style="" class=" " id="page4" title="Instituição">
    <ion-content class="has-header" padding="true">
      <div class="card">
        <div class="item item-divider item-positive">
          Instituição
        </div>
        <div class="item item-text-wrap">
         <h2 >{{instituicao.Nome}}</h2>
        </div>
        <div class="item item-divider item-positive">
          Endereços
        </div>
        <div class="item item-text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ipsum consectetur explicabo error minima voluptas itaque beatae maiores voluptatem corrupti perferendis dolores ullam fugiat deleniti quae, voluptatibus deserunt, accusantium magni repellat voluptates totam vero alias enim natus. Corporis, doloremque, consectetur.
        </div>
        <div class="item item-divider item-positive">
          Missão
        </div>
        <div class="item item-text-wrap">
          <h2>{{instituicao.Missao}}</h2>
        </div>
        <div class="item item-divider item-positive">
          Visão
        </div>
        <div class="item item-text-wrap">
          <h2>{{instituicao.Visao}}</h2>
        </div>
      </div>
    </ion-content>

</ion-view>
