<ion-view style="" class=" " id="page4" title="Instituição">
    <ion-content class="has-header" padding="true">
           
        <ion-list class=" " id="instituiO-list2" >
            <ion-item style="" id="instituiO-list-item7" class="item-thumbnail-left  ">
                <h2>Unasp</h2>
            </ion-item>
            <ion-item style="" class="  " id="instituiO-list-item8" ng-click="carregar()"></ion-item>
            <ion-item style="" class="  " id="instituiO-list-item9">Item 2</ion-item>
            <ion-item style="" class="  " id="instituiO-list-item10">Item 3</ion-item>
        </ion-list>
    </ion-content>
    <div class="row" ng-repeat="instituicao in instituicoes">
        <div class="col">{{instituicao.Nome}}</div>
    </div>
</ion-view>
