<ion-view style="" class=" " id="page5" title="Login">
  <div class="bar bar-header laranja">
    <div >
       <img height="32px" width="32px"  src="img/azinho.png" ><img height="30px" width="40px"  src="img/cad.png" >
    </div>

    <h1 class="title" style="color: 	#FFFAFA;">Login</h1>
  </div>
    <ion-content class="has-header" padding="true">

        <form class="list " id="login-form1">
            <div class="card">
                <div class="item item-text-wrap" ng-if="mensagem">
                  <label class="assertive"  ng-click="sumir()" >{{mensagem}}</label>
                </div>
                <ion-list class=" " id="login-list3">

                <label id="login-input1" class="item item-input ">
                    <input placeholder="Email" type="text" ng-model="user.email">
                </label>
                <label id="login-input2" class="item item-input ">
                    <input placeholder="Senha" type="password" ng-model="user.senha">
                </label>
                </ion-list>
                <a ng-disabled="!user.email || !user.senha" class="button button-full button-dark" id="logar" ng-click="loginAcad(user)" >Logar</a>
                <div class="button-bar">
                      <button id="login-button11" class=" button button-royal button-block button-small  icon ion-social-facebook " ng-click="loginFace()"></button>
                        <button id="login-button10"  class=" button button-assertive button-block button-small icon ion-social-google " ng-click="loginGoogle()"> +</button>
                </div>
                <button class=" button button-dark  button-block button-clear " id="esqueceuSenha" ng-click="esqueceuSenha()">Esqueceu a senha?</button >
                <a class=" button button-dark  button-block button-clear " id="criarConta" ng-click="criarconta()">Ou Criar Conta?</a>
            </div>
        </form>
    </ion-content>
      <div class="bar bar-footer bar-light">
          <div class="title">
            <h6>
                  © 2016 AcaD, Inc. 1.4
            </h6>
          </div>
      </div>
</ion-view>
