<ion-view style="" class=" " id="page3" title="Noticias">
    <ion-content class="has-header" padding="true">
        <div id="noticias-card22" class="list card ">
            <ion-item style="" id="noticias-list-item3" class="item-avatar  ">
                <h2>Item</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
            </div>
            <div style="" id="noticias-list-item-container3" class="item item-body ">
                <p class=" " style="margin-top:0px;color:#000000;" id="noticias-markdown1">Some friendly
                    <strong>markdown</strong>
                </p>
              
            </div>
            <ion-item style="" id="noticias-list-item4" class="item-icon-left assertive  ">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
          <div id="noticias-card23" class="list card ">
                    <ion-item style="" id="noticias-list-item5" class="item-avatar  ">
                        <h2>Item</h2>
                    </ion-item>
                    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                        <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
                    </div>
                    <div style="" id="noticias-list-item-container4" class="item item-body ">
                        <p class=" " style="margin-top:0px;color:#000000;" id="noticias-markdown2">Some friendly
                            <strong>markdown</strong>
                        </p>
                    </div>
                    <ion-item style="" id="noticias-list-item6" class="item-icon-left assertive  ">
                        <i class="icon ion-music-note"></i>Play Song</ion-item>
                </div>
    </ion-content>
</ion-view>