<ion-view style="" class=" " id="page3" title="Noticias">
  <ion-content class="has-header" padding="false">
    <ion-refresher on-refresh="carregar()">
     </ion-refresher>
     <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Titulo" ng-model="titulo">
        </label>
    </div>
     <div ng-repeat="noticia in noticias | orderBy:'-DataPostagem' | filter:{Titulo:titulo}">
       <div ng-if="noticia">
         <div id="noticia" class="list card ">

        <ion-item  class="item-body  item-dark">
          {{noticia.Titulo}}
        </ion-item>

          <i class="icon icon-left ion-ios-timer-outline"></i> {{noticia.DataPostagem | date:'dd/MM/yyyy'}}
             <div class="img-teste">
                 <img  ng-src="{{repo}}{{noticia.ImagemNoticia}}">
             </div>
             <div  class="item item-body ">
                     {{noticia.Descricao}}
             </div>
           </div>
       </div>

     </div>

  </ion-content>
</ion-view>
