<ion-view style="" class=" " id="page3" title="Noticias">
  <ion-content class="has-header" padding="true">
    <ion-refresher on-refresh="carregar()">
     </ion-refresher>

      <div id="eventos-card21" class="list card ">
          <ion-item style="" id="eventos-list-item1" class="item-avatar  ">
              <h2>Item</h2>
          </ion-item>
          <div class="img-teste">
              <img  src="https://i.ytimg.com/vi/KGMqe7_8ORI/maxresdefault.jpg">
          </div>
          <div style="" id="eventos-list-item-container2" class="item item-body ">
              <p class=" " style="margin-top:0px;color:#000000;" id="eventos-markdown3">Some friendly
                  <strong>markdown</strong>
              </p>
          </div>
          <ion-item style="" id="eventos-list-item2" class="item-icon-left assertive  ">
              <i class="icon ion-music-note"></i>Play Song</ion-item>
      </div>
  </ion-content>
</ion-view>
