

<ion-view style="" class=" " id="page6" title="Perfil">
    <ion-content class="has-header" padding="true">
      <ion-refresher on-refresh="carregar()">
       </ion-refresher>
             <div  ng-if="authData.facebook" class="list card">
			     <div class="item item-avatar">
			           <img ng-src="{{authData.facebook.profileImageURL}}" >
			           <h3>{{authData.facebook.displayName}}</h3>
			    </div>

			</div>
			<div  ng-if="authData.google" class="list card">
			     <div class="item item-avatar">
			           <img ng-src="{{authData.google.profileImageURL}}" >
			           <h3>{{authData.google.displayName}}</h3>
			    </div>

			</div>
      <div  ng-if="user" class="list card">
			     <div class="item item-avatar">
                 <img src="img/avatar.png">
                 <h3>{{user.NomeUsuario}}</h3>
			    </div>
          <div class="item"><h3>Registro:{{user.IdUsuario}}</h3> </div>
          <div class="item"><h3>{{user.PerfilUsuario}}</h3></div>
          <div class="item"><h3>ACAD</h3></div>
			</div>
			<button class="button button-assertive button-block ion-log-out" ng-click="logoff()">
			  Sair
			</button>

    </ion-content>
</ion-view>
