<ion-view style="" class=" " id="page1" title="Tabs Controller">
  <div class="bar bar-header laranja">
    <div >
       <img height="32px" width="32px"  src="img/azinho.png" ><img height="30px" width="40px"  src="img/cad.png" >
    </div>


  </div>
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-dark tabs-icon-top ">
        <ion-tab ng-controller="instituicaoCtrl" on-select="carregar()" class=" " id="tabsController-tab2" title="Instituição" icon="ion-flag" href="#/page1/Instituicao">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-controller="eventosCtrl" on-select="carregar()"class=" " id="tabsController-tab1" title="Eventos" icon="ion-android-calendar" href="#/page1/Eventos">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-controller="noticiasCtrl" on-select="carregar()" class=" " id="tabsController-tab3" title="Noticias" icon="ion-arrow-graph-up-right" href="#/page1/Noticia">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-controller="profileCtrl" on-select="carregar()" class=" " id="tabsController-tab3" title="Perfil" icon="ion-person" href="#/page1/Profile">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
